@model JogosViewModel

@*  @model IEnumerable<GerenciadorDeJogos.Models.Jogo> //Método que definia o model da view antes da aplicação do JogosViewModel*@

<h1>@Model.CategoriaAtual</h1>
<hr />
<p>
    <a asp-action="Create">Adicionar Jogo</a><!--Botão destacado para adição de itens.-->
</p>
<!--Inicio da Tabela-->
<table class="table">
    <!--Cabeçalho da tabela-->
    <thead>
            <!--
                Nota: em termos de praticidade, seria muito mais eficiente a utilização de textos fixos diretamente
                no HTML, porém, para fins didáticos, escolhi fazer com que o Razor descubra que a propriedade 
                pertence a um jogo.

            -->
        <tr>
            <th class="w-25">
                @Html.DisplayNameFor(model => model.Jogos.First().JogoMiniatura)
            </th>
            <th class="w-auto">
                @Html.DisplayNameFor(model => model.Jogos.First().JogoNome)
            </th>
            <th class="w-auto">
                @Html.DisplayNameFor(model => model.Jogos.First().StatusJogo)
            </th>
            <th class="w-auto">
                @Html.DisplayNameFor(model => model.Jogos.First().Categoria)
            </th>
        </tr>
    </thead>
    <!--Corpo da Tabela-->
    <tbody>
        @foreach (var jogo in Model.Jogos)
        {
           <partial name ="_JogosResumo" for = "@jogo" />
        }
    </tbody>
</table>
