@model JogosViewModel
@*  IEnumerable<GerenciadorDeJogos.Models.Jogo> *@

<h1>@ViewData["Titulo"]</h1>
<hr />
<p>
    <a asp-action="Create">Adicionar Jogo</a>
</p>
<!--Inicio da Tabela-->
<table class="table">
    <!--Cabeçalho da tabela-->
    <thead>
         <tr>
            <th class="w-25">
                @Html.DisplayNameFor(model => model)
            </th>
            <th class="w-auto">
                @Html.DisplayNameFor(model => model)
            </th>
            <th class="w-auto">
                @Html.DisplayNameFor(model => model)
            </th>
            <th class="w-auto">
                @Html.DisplayNameFor(model => model)
                   
                </th>
 
        </tr> 
    </thead>
    <!--Corpo da Tabela-->
    <tbody>
@foreach (var item in Model.Jogos) {
        <tr>
                <td class="w-auto">
                    <img src="@Url.Content(item.JogoMiniatura)" class="d-block w-25" />
                </td>
                <td class="w-auto">
                @Html.DisplayFor(modelItem => item.JogoNome)
            </td>
                <td class="w-auto">
                @Html.DisplayFor(modelItem => item.StatusJogo)
            </td>
                <td class="w-auto">
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
            </td>
            <td>
                <!--Botões de CRUD-->
                <a asp-action="Edit" asp-route-id="@item.JogoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.JogoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.JogoId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
